.main{
    background-color: white;
}

.main__bienvenida{
    background-color: white;
    margin: 0 auto; /*para centrar div*/

}

.main__bienvenida--caja{
    padding-top: 80px;
    padding-bottom: 70px;
    margin-left: 300px;
    margin-right: 300px;
}

@media (max-width: 600px){
    .main__bienvenida--caja{
        padding-top: 60px;
        padding-bottom: 40px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (max-width: 1170px){
    .main__bienvenida--caja{
        padding-top: 60px;
        padding-bottom: 40px;
        margin-left: 0px;
        margin-right: 0px;
    }
}


.main__bienvenida--titulo{
    color: $primary-color;
    text-align: center;
    font-size: 40px;
}

@media (max-width: 600px){
    .main__bienvenida--titulo{
        font-size: 30px;
    }
}

.main__bienvenida--texto{
    color: #212426;
    text-align: center;
}

.main__servicios{
    background-color: $secondary-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 80px;
    margin-left: 40px;
    margin-right: 40px;
}

.main__servicios--contenedor{
    background-color: red;
    margin: 0px 10px 0px 10px;
}

.main__servicios--icono{
    width: 100px;
}

.servicios__CajaTexto{
    background-color: blue;
    text-align: center;
    padding-top: 30px;
}

.servicios__CajaTexto--titulo{
    color: $secondary-color;
}